/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
  color: #000;
  font-size: 1em;
  line-height: 1.4;
  background:#e1e1e3;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
  width: 96%;
  margin: 0 2%;
}


/* ==============
    Main
   ============== */

.main {
  padding: 20px 0;
}

.main article h1 {
  font-size: 2em;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Money Plan 共通
   ========================================================================== */

.article-wrapper{
  background:#f2ecdf;
  margin:0 20px;
  border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

h2.moneyplan{
  line-height:100%;
  font-size:1em;
  padding:15px 20px 10px 20px;
  margin:0;
}

div.wrapper-rate{
  width:240px;
  height:auto;
  margin:0;
  float:left;
}

div.wrapper-slider{
  width:660px;
  height:auto;
  margin-bottom:0px;
  float:left;
}
.slider-value {
  border: 0;
  font-weight: normal;
  background-color: transparent;
  background:#FFF;
  font-size:24px;
  border:0;
  padding:10px 10px 10px 10px ;
  margin:10px 10px 10px 40px;
  width:90px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align:right;
  float:left;
}
div.wrapper-rate p{
  float:left;
  margin-top:20px;
}



/* ==========================
     目標ポートフォリオ
   ========================== */
div.wrapper-port-chart{
  width:231px;
  height:231px;
  float:left;
  margin:10px 20px 10px 40px;
}
div.wrapper-port-chart-rate{
  background-image:url(../images/mokuhyoport_bg3.png);
  background-size:250px 100px;
  background-repeat:no-repeat;
  float:left;
  padding:0px 20px;
  margin-top:80px;
}
.wrapper-port-chart-rate dl {
  width:210px;
}
.wrapper-port-chart-rate dt {
  float:left;
  padding:5px 0;
}
.wrapper-port-chart-rate dd {
  text-align:right;
  padding:5px 0;
  font-size:24px;
}

div.wrapper-port-mokuhyo-rate{
  background-image:url(../images/mokuhyoport_bg4.png);
  background-size:390px 100px;
  background-repeat:no-repeat;
  float:right;
  padding:5px 30px 20px 30px;
  margin:80px 40px 0px 0px;
}
.wrapper-port-mokuhyo-rate dl {
  width:330px;
}
.wrapper-port-mokuhyo-rate dt {
  float:left;
  padding:5px 0;
}
.wrapper-port-mokuhyo-rate dd {
  text-align:right;
  padding:20px 0 0px 0;
  font-size:24px;
}
p.port-notice{
  text-align:right;
  padding:0 105px 0 0;
}

div.wrapper-header-moneyplan img{
  margin-right: 50px;
}

/* ==========================
     type
   ========================== */

ul.port-type{
  width:948px;
  margin:0 auto;
}

.port-type li a{
  width:87px;
  line-height:100px;
  margin: 10px 6px 0 0;
}
.port-type li:first-child a{
  margin-left: 10px;
}

.port-type li:last-child a{
  margin-right: 10px;
}

p.port-type-range {
  width:924px;
  height:31px;
  margin:5px auto 10px auto;
  text-align:center;
}

#slider {
  width: 660px;
  height:20px;
  margin:20px 10px 0px 10px;
  border-radius: 10px;
  moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#slider .ui-slider-range {
  background: #b06d68;
  border-radius: 8px;
  moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

#slider .ui-slider-handle {
  border-color: #c0c0c0;
  background: #dddee0;
  width:30px;
  height:30px;
  border-radius: 4px;
  moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
p.port-yokin-range {
  margin:0;
  padding:0;
}

/* ====================
     分散投資の効果
  ==================== */

div.wrapper-bunsantoshi-chart{
  width:964px;
  height:400px;
  margin:0px 0px;
  padding:25px 10px;
}

#bunsantoshi  #slider .ui-slider-range {
  background: #e39740;
  border-radius: 8px;
  moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

/* ====================
     リスクリターン
==================== */
/* ============
     select
===============*/

.customSelect {
  font-size:20px;
  background-color: #fff;
  color:#000;
  padding:5px 10px;
  border:2px solid #407cca;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin:0;
}

.customSelectInner {
  background-image:url(../images/riskreturn_select_arrow.png);
  background-repeat:no-repeat;
  background-position:center right;
  background-size:12px 8px;
  padding:0 30px;
  margin:0;
}


#riskreturn .customSelect {
  border:2px solid #d57e00;
}

#riskreturn .customSelectInner {
  background-image:url(../images/riskreturn_select_arrow_compare.png);
}

/* =========
     start
============ */
div.wrapper-riskreturn-start{
  width:630px;
  height:auto;
  margin:30px 0 20px 40px ;
  float:left;
}
div.wrapper-riskreturn-start p.icon{
  float:left;
  margin:0 20px 0 0;
}
div.wrapper-riskreturn-chart{
  width:859px;
  height:auto;
  margin:0 auto;
  padding-bottom:20px;
}

/* ===========
     compare
============== */
div.wrapper-riskreturn{
  width:250px;
  height:auto;
  margin:20px 0 0 40px ;
  float:left;
}
div.wrapper-riskreturn-compare{
  width:510px;
  height:auto;
  margin-bottom:0px;
  float:right;
  background:#f2ecdf;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding:20px 40px ;
  margin:20px 20px 0 0 ;
}
div.wrapper-riskreturn-compare p.icon{
  float:left;
  margin:0;
}
div.wrapper-riskreturn-compare p.risk{
  float:left;
  padding:0;
  margin:5px 15px 5px 5px;
}
div.wrapper-riskreturn-start p.compare,
div.wrapper-riskreturn-compare p.compare{
  float:right;
  padding:0;
  margin:5px;
}

/* ====================
     nav
   ==================== */
nav ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
nav a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  float: left;
  margin-bottom: 0;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

nav ul li {
  display: inline;
}

.oldie nav a {
  margin: 0 0.7%;
}


/* ====================
    WIDE: CSS3 Effects
   ==================== */


/* ============
    WIDE: Main
   ============ */

.main article {
  width: 100%;

}

.main article header {
  width: 100%;
  border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  background:#fff;
  margin-bottom:15px;

}

.main article section {
  width: 100%;
  border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding-bottom:20px;
  background:#fff;
}
/* ====================
     footer
   ==================== */

footer nav a {
  float: right;
  margin-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 1140px) {

  /* ===============
      Maximal Width
     =============== */

  .wrapper {
    width: 1026px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

